<div id="employeeDetail">
    <div class="row">
        <div class="col-md-12">
            <h3><span class="glyphicon" ng-class="{'glyphicon-plus-sign': isNew, 'glyphicon glyphicon-edit': !isNew}" aria-hidden="true"></span> {{title}}employee</h3>
        </div>
    </div>
    <div class="alert alert-danger" role="alert" ng-show="employeeDetailForm.email.$error.checkUnique">
        This email has already existed!
    </div>
    <form name="employeeDetailForm" novalidate>
        <input type="hidden" name="id" ng-model="employee.id">
        <div class="row">
            <div class="col-md-2">
                <label class="mandatory">First Name:</label>
            </div>
            <div class="col-md-4">
                <input type="text" ng-class="{error: employeeDetailForm.firstName.$touched && employeeDetailForm.firstName.$invalid}" class="form-control" name="firstName" ng-model="employee.firstName" required>
            </div>
            <div class="col-md-2">
                <label class="mandatory">Last Name:</label>
            </div>
            <div class="col-md-4">
                <input type="text" ng-class="{error: employeeDetailForm.lastName.$touched && employeeDetailForm.lastName.$invalid}" class="form-control" name="lastName" ng-model="employee.lastName" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label class="mandatory">Email:</label>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="email" ng-class="{error: employeeDetailForm.email.$touched && employeeDetailForm.email.$invalid}" check-unique="{key: employee.id}" class="form-control" name="email" ng-model="employee.email" required>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                </div>
                <span class="errorMessage" ng-show="employeeDetailForm.email.$error.email">Invalid email address.</span>
            </div>
            <div class="col-md-2">
                <label class="mandatory">Phone:</label>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" ng-class="{error: employeeDetailForm.phone.$touched && employeeDetailForm.phone.$invalid}" class="form-control" name="phone" ng-model="employee.phone" required>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-phone-alt"></span></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label class="mandatory">Birthday:</label>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" ng-class="{error: employeeDetailForm.birthday.$touched && employeeDetailForm.birthday.$invalid}" class="form-control" name="birthday" ng-model="employee.birthday" is-open="opened" datepicker-popup="dd/MM/yyyy" required />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <label class="mandatory">Department:</label>
            </div>
            <div class="col-md-4">
                <select ng-class="{error: employeeDetailForm.department.$touched && employeeDetailForm.department.$invalid}" class="form-control" name="departmentId" ng-model="employee.departmentId" ng-options="department.value as department.text for department in departments" required>
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Avatar:</label>
            </div>
            <div class="col-md-4">
                <input type="file" class="btn btn-default" style="width: 100%" file-model="employee.avatar" />
            </div>
            <div class="col-md-6 custom-right">
                <a class="btn btn-info" ng-disabled="employeeDetailForm.$invalid" ng-click="save()"><span class=" glyphicon glyphicon-saved" aria-hidden="true"></span> Save</a>
                <a class="btn btn-danger" href="/#employees">Cancel</a>
            </div>
        </div>
    </form>
</div>